<h1>---------------------------------------------------------------------------------------------parent component starts</h1>
<p>recived data from child</p>
{{message}}
<h1>---------------------------------------------------------------------------------------------child component starts</h1> -->
 <app-child  (childEvent)="message=$event" [parentData]="name"></app-child>
 <!-- <app-compa></app-compa>
<h1>---------------------- component b</h1>
<app-compb></app-compb>
<h1>---------------------- component c</h1>
<app-compc></app-compc>
<h1>---------------------- component d</h1>
<app-compd></app-compd> -->